@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #9a9696;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

p {
  color: black;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
@media screen and (max-width: 767px) {
  .header-wrapper {
    margin: 10px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
}
.header-logo__img {
  height: 30px;
  width: auto;
}
@media screen and (max-width: 767px) {
  .header-logo__img {
    height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header-logo__link {
    font-size: 15px;
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.hero-wrapper {
  background-image: url(assets/images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 910px;
  min-height: 100vh;
  position: relative;
  background-blend-mode: darken;
  background-color: rgba(45, 45, 45, 0.6);
}
@media screen and (max-width: 767px) {
  .hero-wrapper {
    background-position: 50%;
  }
}

.hero-tittle {
  color: black;
  font-size: 100px;
  padding: 230px 240px 20px;
}
@media screen and (max-width: 767px) {
  .hero-tittle {
    font-size: 60px;
    padding: 140px 45px 100px;
  }
}

.hero-text {
  font-size: 40px;
  width: 60%;
  margin: 220px 420px 50px;
  font-weight: 800;
  color: black;
}
@media screen and (max-width: 767px) {
  .hero-text {
    font-size: 20px;
    width: 400px;
    margin: 200px 30px;
  }
}

.about-wrapper {
  margin: 100px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
@media screen and (max-width: 767px) {
  .about-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
}

.about-content {
  width: 500px;
  display: flex;
  gap: 20px;
  border: 2px solid black;
  padding: 10px 5px;
}
.about-content:first-child {
  grid-column: 1/8;
}
.about-content:nth-child(2) {
  grid-column: 2/8;
  grid-row: 2/3;
}
.about-content:nth-child(3) {
  grid-column: 3/8;
  grid-row: 3/4;
}
.about-content:nth-child(4) {
  grid-column: 4/8;
  grid-row: 4/5;
}
.about-content:nth-child(5) {
  grid-column: 5/8;
  grid-row: 5/6;
}
.about-content:last-child {
  grid-column: 6/8;
  grid-row: 6/7;
}
.about-content__img {
  height: 100px;
  width: auto;
}
.about-content__text-title {
  font-size: 20px;
}
.about-content__text-subttitle {
  font-size: 15px;
}
.about-content__text-text {
  font-size: 10px;
}/*# sourceMappingURL=style.css.map */